<template name="home">
    <div class="container">
        <div class="row">
            <span class="col-xs-12">
                <h1>Getting Started</h1>
                <h2>Technical Notes</h2>
                <div class="well well-small">
                    <p>
                        Some features of LarpManager do not work with the metro version of Internet Explorer. LarpManager works normally with the desktop version of Internet Explorer.
                    </p>
                </div>
                <h2>Initial Setup</h2>
                <div class="well well-small">
                    <p>
                        After installing and running LarpManager, the first thing you need to do is create an account for yourself that will identify you as the admin for the application.  Simply register a new user account with the account name of "larp_admin".  Use whatever email address and password you like.  Whenever you login with that account, the application will know you are the admin and give you full control over everything.
                    </p>
                    <p>
                        The next thing you need to do is create a new type of character sheet.  The character sheets can be used across multiple games.  For example, if you create a basic cyberpunk character sheet, then you can use it in multiple cyberpunk larps.  Creating the sheet can be a little tricky, so follow these steps:
                        <ul>
                            <li>start a section of the sheet</li>
                            <li>add some fields to that section</li>
                            <li>end that section</li>
                            <li>repeat the process until the sheet looks the way you want it</li>
                            <li>you can start over by clicking out of the character sheet builder and then re-entering it</li>
                        </ul>
                    </p>
                </div>
                <h2>Signup Process and Rules</h2>
                <div class="well well-small">
                    <ol>
                        <li>all this HTML is editable by the GM</li>
                        <li>hint: it's in the main.html file inside the "home" template</li>
                        <li>list the cost of the LARP and how players can join</li>
                        <li>don't forget to tell them a little about it and the rule system used</li>
                        <li>and maybe how you handle "parking" their character when they're not actively playing it</li>
                    </ol>
                </div>
                <h2>Other Stuff</h2>
                <div class="well well-small">
                    <ol>
                        <li>have a way for players without smartphones/tablets to play using a regular paper character sheet</li>
                        <li>submit bug reports and feature ideas on the Github page for this project</li>
                    </ol>
                </div>
            </span>
        </div>
    </div>
</template>