<template name="join_larp">
    <div id="join_larp" class="container">
        <div class="row">
            <h1>{{join_larp.title}}</h1>
            <h2>Description of Game</h2>
            <p>
                {{join_larp.description}}
            </p>
            <h2>How to Join</h2>
            <p>
                When you click to join a LARP, your username is sent to the GM. If they
                don't know what your username is and you're supposed to join their LARP,
                you'll need to tell them who you are and ask to be approved in order to play.
            </p>
            <button id="submit" class="btn btn-primary btn-small">Join LARP</button>
        </div>
    </div>
</template>